@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

$base-font-size: 20px;

@function em($px, $base: $base-font-size) {
  @return ($px / $base) * 1em;
}

.divider
{
  height: 1px;
  background-color: #CCCCCC;
  margin: 15px;
}

.header
{
  font-family: 'Kaushan Script', cursive;
  font-size: em(26px);
  margin-bottom: em(25px);
  padding: 0 15px;
  position: relative;

  .translations
  {
    position: absolute;
    top: em(10px);
    right: em(10px);
  }

  > img
  {
    max-height: em(200px);
  }

  > span
  {
    font-size: em(72px);

    @media all and (max-width: 980px) {
      display: block;
    }
  }
}

.submit-buttons
{
  margin-top: 15px;
  margin-bottom: 15px;
}